In [2]:
import pandas as pd
import numpy as np

In [3]:
df = pd.DataFrame(np.arange(0,20).reshape(5,4), index = ['Row1','Row2','Row3','Row4','Row5'], columns = ['Column1','Column2','Column3','Column4'])

In [4]:
df

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [6]:
df.to_csv('Test.csv') #save csv file

In [9]:
#Accesing the elements

df.loc['Row2']   #DATA SERIES

Column1    4
Column2    5
Column3    6
Column4    7
Name: Row2, dtype: int64

In [10]:
df.iloc[:,:]

      Column1  Column2  Column3  Column4
Row1        0        1        2        3
Row2        4        5        6        7
Row3        8        9       10       11
Row4       12       13       14       15
Row5       16       17       18       19

In [16]:
df.iloc[1:3,2:] #DATA FRAME i.e more than one row and one columns

      Column3  Column4
Row2        6        7
Row3       10       11

In [18]:
#Convert dataframes into array
df.iloc[:,1:3].values

array([[ 1,  2],
       [ 5,  6],
       [ 9, 10],
       [13, 14],
       [17, 18]])

In [20]:
df['Column1'].value_counts()

12    1
4     1
16    1
8     1
0     1
Name: Column1, dtype: int64

In [21]:
df.isnull().sum()

Column1    0
Column2    0
Column3    0
Column4    0
dtype: int64

In [23]:
df['Column1'].unique()

array([ 0,  4,  8, 12, 16])

In [25]:
df[["Column1","Column4"]]

      Column1  Column4
Row1        0        3
Row2        4        7
Row3        8       11
Row4       12       15
Row5       16       19

In [35]:
data = pd.read_csv("/content/mercedesbenz.csv") #csv = comma seperated value, if seperated by ; then use data = pd.read_csv("filename.csv", sep = ';')

In [36]:
data.head()

   ID       y  X0 X1  X2 X3 X4  ... X378 X379 X380  X382  X383  X384  X385
0   0  130.81   k  v  at  a  d  ...    0    0    0     0     0     0     0
1   6   88.53   k  t  av  e  d  ...    0    0    0     0     0     0     0
2   7   76.26  az  w   n  c  d  ...    0    0    0     1     0     0     0
3   9   80.62  az  t   n  f  d  ...    0    0    0     0     0     0     0
4  13   78.02  az  v   n  f  d  ...    0    0    0     0     0     0     0

[5 rows x 378 columns]

In [37]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4209 entries, 0 to 4208
Columns: 378 entries, ID to X385
dtypes: float64(1), int64(369), object(8)
memory usage: 12.1+ MB

In [38]:
data.shape

(4209, 378)

In [39]:
data.describe()

                ID            y  ...         X384         X385
count  4209.000000  4209.000000  ...  4209.000000  4209.000000
mean   4205.960798   100.669318  ...     0.000475     0.001426
std    2437.608688    12.679381  ...     0.021796     0.037734
min       0.000000    72.110000  ...     0.000000     0.000000
25%    2095.000000    90.820000  ...     0.000000     0.000000
50%    4220.000000    99.150000  ...     0.000000     0.000000
75%    6314.000000   109.010000  ...     0.000000     0.000000
max    8417.000000   265.320000  ...     1.000000     1.000000

[8 rows x 370 columns]

In [40]:
data['X0'].value_counts()

z     360
ak    349
y     324
ay    313
t     306
x     300
o     269
f     227
n     195
w     182
j     181
az    175
aj    151
s     106
ap    103
h      75
d      73
al     67
v      36
af     35
ai     34
m      34
e      32
ba     27
at     25
a      21
ax     19
aq     18
i      18
am     18
u      17
l      16
aw     16
ad     14
k      11
au     11
b      11
r      10
as     10
bc      6
ao      4
c       3
q       2
aa      2
ac      1
g       1
ab      1
Name: X0, dtype: int64

In [44]:
data[data['y']>100]

        ID       y  X0 X1  X2 X3 X4  ... X378 X379 X380  X382  X383  X384  X385
0        0  130.81   k  v  at  a  d  ...    0    0    0     0     0     0     0
6       24  128.76  al  r   e  f  d  ...    0    0    0     0     0     0     0
8       27  108.67   w  s  as  e  d  ...    0    0    0     0     0     0     0
9       30  126.99   j  b  aq  c  d  ...    0    0    0     0     0     0     0
10      31  102.09   h  r   r  f  d  ...    0    0    0     0     0     0     0
...    ...     ...  .. ..  .. .. ..  ...  ...  ...  ...   ...   ...   ...   ...
4202  8402  123.34  ap  l   s  c  d  ...    0    0    0     0     0     0     0
4204  8405  107.39  ak  s  as  c  d  ...    0    0    0     0     0     0     0
4205  8406  108.77   j  o   t  d  d  ...    0    0    0     0     0     0     0
4206  8412  109.22  ak  v   r  a  d  ...    0    0    0     0     0     0     0
4208  8417  110.85   z  r  ae  c  d  ...    0    0    0     0     0     0     0

[2004 rows x 378 columns]

In [45]:
data.corr()

            ID         y       X10  X11  ...      X382      X383      X384      X385
ID    1.000000 -0.055108  0.001602  NaN  ... -0.038171 -0.009332 -0.015355  0.029059
y    -0.055108  1.000000 -0.026985  NaN  ... -0.159815  0.040291 -0.004591 -0.022280
X10   0.001602 -0.026985  1.000000  NaN  ... -0.010164 -0.004740 -0.002532 -0.004387
X11        NaN       NaN       NaN  NaN  ...       NaN       NaN       NaN       NaN
X12   0.058988  0.089792 -0.033084  NaN  ... -0.024937 -0.011628 -0.006212 -0.010765
...        ...       ...       ...  ...  ...       ...       ...       ...       ...
X380 -0.013577  0.040932 -0.010479  NaN  ... -0.007899 -0.003683 -0.001968 -0.003410
X382 -0.038171 -0.159815 -0.010164  NaN  ...  1.000000 -0.003572 -0.001908 -0.003307
X383 -0.009332  0.040291 -0.004740  NaN  ... -0.003572  1.000000 -0.000890 -0.001542
X384 -0.015355 -0.004591 -0.002532  NaN  ... -0.001908 -0.000890  1.000000 -0.000824
X385  0.029059 -0.022280 -0.004387  NaN  ... -0.003307 -0.001542 -0.000824  1.000000

[370 rows x 370 columns]

In [46]:
data1 = pd.read_csv("/content/mercedesbenz.csv", usecols=['y','X0','X13'])

In [47]:
data1.head()

        y  X0  X13
0  130.81   k    1
1   88.53   k    0
2   76.26  az    0
3   80.62  az    0
4   78.02  az    0

In [66]:
from io import StringIO
data2 = ('a,b,c,d\n'
        '1,2,3,4\n'
        '7,9,5,8\n'
)
df2 = pd.read_csv(StringIO(data2), dtype = object) #dtpe = integer, object, float etc.
df2

   a  b  c  d
0  1  2  3  4
1  7  9  5  8

In [67]:
df2['a'][1] # or use df2['a']

'7'

In [69]:
df2['a']

0    1
1    7
Name: a, dtype: object

In [72]:
df3 = pd.read_csv(StringIO(data2), dtype={'b': int , 'c':float})
df3.dtypes

a      int64
b      int64
c    float64
d      int64
dtype: object

In [75]:
df4 = pd.read_csv(StringIO(data2), index_col = 0)
df4

   b  c  d
a
1  2  3  4
7  9  5  8

In [78]:
df5 = pd.read_csv(StringIO(data2), index_col = False) #False will give index automatically
df5

   a  b  c  d
0  1  2  3  4
1  7  9  5  8

In [80]:
# also use pd.read_csv("filename.csv", escapechar = '\\) or ('url', sep = '\t') URL TO CSV

In [82]:
#pd.read_json(Data)            or         df.to_json(orient ="index"))

In [84]:
# url = 'nakncakkkncknka.html' # It will take all entries from differet pages
# df = pd.read_html(url)

In [88]:
#df_excel = pd.read_excel('Excel.xlsx') Also give sheet name ('excel.xlsx', sheet_name = 1)

In [90]:
# df_excel.to_pickle("New file name")
#df = pd.read_pickle('New File name')
#df.head()